body,
html {
	-webkit-text-size-adjust: none
}

.details .texts img,
img {
	max-width: 100%
}

body.stop-scrolling {
	height: 100%;
	overflow: hidden
}
html {
	zoom: 1
}

body {
	-webkit-font-smoothing: antialiased
}

html * {
	outline: 0;
	zoom: 1
}

html button::-moz-focus-inner {
	border-color: transparent!important
}

blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

a img,
fieldset {
	border: 0
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 400
}

li {
	list-style: none
}

caption,
th {
	text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400
}

em,
i {
	font-style: normal
}

.strong {
	font-weight: 700
}
.left {
	float: left
}
.right {
	float: right
}
.center {
	margin: 0 auto;
	text-align: center
}

.inline {
	display: inline
}

a {
	outline: 0;
	color: #444
}

a:hover {
	color: #3169b0
}
	
.login,
.login .login-box .login-form .showThirdParty i:after,
.mask {
	bottom: 0
}

body {
	color: #111;
	background: #f3f4f5
}

body,
button,
div,
form,
html,
input,
li,
p,
select,
ul {
	margin: 0;
	padding: 0
}

img {
	border: 0;
	vertical-align: top
}

li,
ul {
	list-style-type: none
}

button,
input,
select {
	font-size: 12px;
	vertical-align: middle;
	font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif, '瀹嬩綋'
}

button {
	cursor: pointer
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

.login .btn_blue,
.login .findPsw-box.phone .body .fpsw-step2.phone a,
.login .inputBtn_sm,
.login .login-box .login-form .thirdParty a,
a.goto_mail,
a.secode {
	text-decoration: none
}

.login .login-box .login-form .showThirdParty i:after,
.login .login-box .login-form .showThirdParty i:before {
	content: '';
	border-top: 1px solid #BBC7CE;
	transition: all .5s;
	left: 0;
	width: 10px;
	position: absolute
}

.clear {
	clear: both
}

.fl,
.fr {
	display: inline;
	float: left
}

.fr {
	float: right
}

.ins {
	border: 1px solid #ddd;
	border-right-color: #eee;
	border-bottom-color: #eee;
	padding: 8px;
	display: table-cell;
	display: inline\9;
	height: 20px;
	font-size: 14px;
	line-height: 18px
}

.btns {
	cursor: pointer;
	border: none
}

.aside-tools {
    position: fixed;
    right: 11px;
    z-index: 99;
    top: 70%;
}

.login {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url("../../img/other/login_bg.png")
	50% 90% no-repeat #f7f7f7;
	font-family: STHeitiSC-Light, microsoft yahei
}
.login input {
	display: inline-block;
	border: 1px solid #BBC7CE;
	height: 23px;
	line-height: 23px;
	padding: 7.5px;
	border-radius: 3px;
	outline-color: #3AA8E8
}

.login .logoNslogen {
	width: 177px;
	height: 87px;
	margin: 50px auto 40px;
	background-image: url("../../img/login_banner.png");
	background-size:177px 87px;
}

.login .login-box {
	position: relative
}

.login .login-box .login-form {
	width: 300px;
	height: auto;
	margin: 0 auto 20px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(49, 105, 176, .2);
	overflow: hidden
}

.login.loginWin .login-box .login-form {
	width: 340px;
	margin: 186px auto 20px;
	background: url("../img/other/login_bg.png")
	bottom center no-repeat #fff
}

.login .login-box .login-form .head {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ddd
}

.login.loginWin .head .close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 15px;
	height: 15px;
	padding: 17.5px 15px
}

.login.loginWin .head .close i {
	display: block;
	width: 15px;
	height: 15px;
	background: url("../img/other/icon-bingphone_close.png")/*tpa=http://lapp.xinli001.com/images/website-www/v4/login/icon-bingphone_close.png*/
	no-repeat
}

.login.loginWin .head .close:hover {
	background: #eeeff3
}

.login.loginWin .head .close:hover i {
	background-position: -15px 0
}

.login.loginWin .login-box .login-form .head {
	background: #F5F7FA
}

.login .login-box .login-form .tab {
	float: left;
	width: 50%;
	height: 57px;
	line-height: 57px;
	font-size: 16px;
	color: #A8B4BB;
	text-align: center;
	border-bottom: 5px solid #fff;
	cursor: pointer
}

.login.loginWin .login-box .login-form .tab {
	width: 130px;
	height: 46px;
	margin-right: 10px;
	border-bottom: 4px solid #F5F7FA
}

.login .login-box .login-form .tab:hover {
	color: #6F797E
}

.login .login-box .login-form .tab.selected {
	border-bottom-color: #3169B0;
	color: #3169B0
}

.login .login-box .login-form .tabcont {
	display: none;
	margin: 30px 25px 60px
}

.login.loginWin .login-box .login-form .tabcont {
	margin: 30px 45px 111px
}

.login .login-box .login-form .tabcont.selected {
	display: block
}

.login .login-box .login-form .tabcont .input-group {
	font-size: 0;
	overflow: hidden
}

.login .input-group input.error {
	border: 1px solid #F86D68
}

.login .inputBtn_sm {
	display: inline-block;
	width: 98px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #76BCF5;
	background: #f2f5f7;
	border-radius: 3px;
	font-size: 14px;
	color: #3984E6;
	text-align: center
}

.login .inputBtn_sm.disabled {
	background: #F2F5F7;
	color: #A8B4BB;
	border-color: #F2F5F7
}

.login .login-box .login-form .tabcont .inputBtn_sm.btn_link {
	width: 60px;
	font-size: 12px;
	color: #5A6266;
	background: 0 0;
	border: 1px solid #fff
}

.login .login-box .login-form .tabcont .input_full {
	width: 233px
}

.login .login-box .login-form .tabcont .input_sm {
	width: 127px
}

.login .login-box .login-form .tabcont .input_md {
	width: 163px
}

.login .input-group .tip {
	min-width: 10px;
	height: 20px;
	padding-left: 5px;
	line-height: 20px;
	font-size: 12px;
	color: #F1625D;
	text-align: left!important
}

.login .clear {
	clear: both
}

.login .login-box .login-form .tabcont .submit-group {
	margin-top: 10px
}

.login .btn_blue {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #3169B0;
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
	text-align: center;
	transition: box-shadow .5s;
	box-shadow: 0 0 6px #ccc
}

.login .btn_blue:hover {
	box-shadow: 0 0 10px #3169B0
}

.login .findPsw-box,
.login .login-box .downloadApp {
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(49, 105, 176, .2)
}

.login .login-box .login-form .thirdParty {
	text-align: center;
	color: #2B343A;
	font-size: 12px
}

.login .login-box .login-form .thirdParty a {
	color: #5A6266
}

.login .login-box .login-form .thirdParty .thirdParty-cont {
	overflow: hidden;
	height: 0
}

.login .login-box .login-form .thirdParty .thirdParty-cont table {
	width: 100%
}

.login .login-box .login-form .thirdParty .thirdParty-cont td {
	width: 33.33%
}

.login .login-box .login-form .thirdParty .thirdParty-cont td a {
	display: block;
	position: relative;
	padding-top: 28px;
	text-align: center
}

.login .login-box .login-form .thirdParty .thirdParty-cont td a i {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -14px;
	width: 28px;
	height: 28px;
	background: url("../../img/other/icon-sprite.png")  no-repeat;
}

.login .login-box .login-form .thirdParty .thirdParty-cont td a.wechat i {
	background-position: -56px 0
}

.login .login-box .login-form .thirdParty .thirdParty-cont td a.wechat:hover i {
	background-position: -84px 0
}

.login .login-box .login-form .thirdParty .thirdParty-cont td a.weibo i {
	background-position: 0 0
}

.login .login-box .login-form .thirdParty .thirdParty-cont td a.weibo:hover i {
	background-position: -28px 0
}

.login .login-box .login-form .thirdParty .thirdParty-cont td a.qq i {
	background-position: -112px 0
}

.login .login-box .login-form .thirdParty .thirdParty-cont td a.qq:hover i {
	background-position: -140px 0
}

.login .login-box .login-form .showThirdParty {
	display: block;
	width: 100%;
	height: 16px;
	margin-top: 10px;
	background: #F5F7FA
}

.login .login-box .login-form .showThirdParty i {
	display: block;
	position: relative;
	top: 8px;
	width: 10px;
	height: 0;
	padding: 0 0 3px;
	margin: 6.5px auto 3.5px;
	border-top: 1px solid #BBC7CE;
	transition: all .5s
}

.login .login-box .login-form .showThirdParty i:before {
	top: -4px
}

.login .login-box .login-form .showThirdParty.close i {
	border-top: 0
}

.login .login-box .login-form .showThirdParty.close i:before {
	top: -1px;
	transform: rotate(45deg)
}

.login .login-box .login-form .showThirdParty.close i:after {
	bottom: 3px;
	transform: rotate(135deg)
}

.login .login-box .downloadApp {
	position: absolute;
	bottom: -70px;
	left: 50%;
	margin-left: -100px;
	overflow: hidden;
	width: 200px;
	background: #fff;
	cursor: pointer
}

.login .login-box .downloadApp .qrcode {
	width: 170px;
	height: 0;
	margin: 0 15px;
	overflow: hidden;
	transition: height .5s
}

.login .login-box .downloadApp:hover .qrcode {
	height: 170px;
	margin: 15px
}

.login .login-box .downloadApp h1 {
	overflow: hidden;
	line-height: 50px;
	font-size: 14px;
	color: #3169B0;
	font-weight: 400;
	text-align: center
}

.login .login-box .downloadApp .icon-qrcode {
	position: relative;
	top: 3px;
	margin-right: 4px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../../img/other/icon-sprite.png")
	-168px 0 no-repeat
}



.login .findPsw-box .body .input-group,
.login .findPsw-box .body .submit-group {
	width: 300px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto
}

.login .findPsw-box .body .input-group .input_full {
	width: 283px
}

.login .findPsw-box .body .input-group .input_sm {
	width: 173px
}

.login .findPsw-box .body .input-group .inputBtn_sm {
	width: 98px
}


input.ein {
	border: 1px solid red
}


.thirdpart {
	border-top: 1px dashed #ddd;
	padding: 30px 0 20px
}

.thirdpart .name {
	font-size: 14px;
	color: #999;
	padding-left: 85px
}

.thirdpart .ico {
	display: inline-block;
	vertical-align: -10px;
	width: 30px;
	height: 30px;
	background: url("../img/other/login-share.png")
	no-repeat;
	margin-left: 5px
}

.thirdpart .ico-wechat {
	background-position: -149px 0
}

.thirdpart .ico-sina {
	background-position: -60px 0
}
